.cart{
    width: 250px;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 10px lightgray;
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left:30px;
    text-align: center;
    /* position: sticky; */
    
}